
@media all and (max-width: 1550px){
	#main-header{background-position:center;
		#slider-text{top: 30%;left: 10%;}
	}
	#main{
		#last-score{background-size: contain;}
	}

}
@media all and (max-width: 1225px){
	#main{
		#join-our-club{background-position: center;text-align: center;
			a{margin: 0 auto;}
			#join-text{width: 100%;}
		}
		#our-groups, #coaches{
			.wrap{grid-template-columns: 1fr 1fr;
				.group-item:last-child{grid-column: auto / span 2;}
			}
		}
	}
	@media all and (max-width: 810px){
		#main{
			#partners{
				.wrap{grid-template-columns:1fr 1fr 1fr;grid-gap:20px;}
			}
			#lightbox{
				.row{grid-template-columns: 1fr 1fr;}
			}
			#news{
				.rssincl-content{display: block;padding: 20px;}
			}
			#our-groups, #coaches{
				.wrap{display: block;
					a{font-size: 19px;}
					.group-item{margin: 0 0 30px 0;}
				}
			}
		}
	}
}@media all and (max-width:520px){
	.column{height:188px;}
	#main{
		#partners{
			.wrap{grid-template-columns:1fr 1fr;}
		}
		#news{
			.rssincl-content{display: block;}
		}
		#coaches{
			.wrap{display: block;}
		}
		#our-groups{
			.wrap{display: block;
				img{width: 100%;}
			}
		}
		#schedule{
			.pagination{max-width: 320px;
				li{margin: 0 5px;font-size: 19px;}
			}
			.row-items{grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
				.item{padding: 5px;font-size: 14px;margin-right: 0;}
			}
		}
		#testimonial{
			.wrap{
				h2{font-size: 22px;}
				#open-quotes{font-size: 50px;}
				div{width: 100%;
					&:first-child{width: 100%;max-width: 90%;}
				}
				img{width: 100%;}
			}
		}
		#last-score{background-position: bottom;padding: 1px 0;
			h3{width: 35%;}
			#last-result{width: 30%;
				span{width: auto;padding: 0;}
			}
		}
		#lightbox{
			.row{grid-template-columns:1fr;}
		}
	}
	#main-header{
		#slider-text{top: 30%;left: 5%;
			h1{font-size: 50px;}
		}
	}
	#footer{
		ul{
			li{width: 50px;height: 50px;line-height: 50px;}
		}
	}
	.prev, .next{top:56%;font-size: 30px;}
	.layer{line-height: 200px;}
}